<article>
  <h1>{{ title }}</h1>
  <div id="preface">
    <h2 class="toc-heading">Preface</h2>

    {{ top message }}

    <div class="meta">
      <dl class="tags">
            <dt>Rating:</dt>
            <dd>{{ rating }}</dd>
            <dt>Archive Warning:</dt>
            <dd>{{ archive_warning }}</dd>
            <dt>Category:</dt>
            <dd>{{ category }}</dd>
            <dt>Fandom:</dt>
            <dd>{{ fandom }}</dd>
            <dt>Relationship:</dt>
            <dd>{{ relationship }}</dd>
            <dt>Character:</dt>
            <dd>{{ character }}</dd>
            <dt>Additional Tags:</dt>
            <dd>{{ additional tags }}</dd>

          <dt>Language:</dt>
          <dd>English</dd>

          <dt>Series:</dt>
          <dd>{{ series }}</dd>
        <dt>Stats:</dt>
        <dd>
          Published: {{ date }}
          Words: {{ words }}
          Chapters: {{ chapters }}
        </dd>
      </dl>
      <h1>{{ title }}</h1>
      <div class="byline">by {{ author }}</div>
        <p>Summary</p>
        <blockquote class="userstuff">{{ summary }}</blockquote>

        <p>Notes</p>
          <blockquote class="userstuff">{{ notes }}</blockquote>
          <div class="endnote-link">
            See the end of the work for more <a href="#endnotes">notes</a>
          </div>


    </div>
  </div>

{{ content }}
</article>
