/* General */
body {
    margin: 0;
    line-height: 1.5em;
    color: #333333;
    font-family: helvetica, arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: 1em;
}

a:link, a:visited {
    color: #0000e0;
    text-decoration: none
}

a:hover, a:active {
    color: #0000ff;
    text-decoration: underline
}


/* Single column layout */
main, header, footer {
    margin-left: 1em;
    margin-right: 1em;
    padding: 0 0.5em;
}

/* Posts */
article {
    margin-top: 1em;
    margin-bottom: 1em;
}

article h2 a:link, article h2 a:visited,
article h1 a:link, article h1 a:visited,
.more:link, .more:visited {
    color: #333333;
}

article h2 a:hover, article h2 a:active,
article h1 a:hover, article h1 a:active,
.more:hover, .more:active {
    color: #777777;
}

p.meta {
    margin-top: 0;
    font-size: 0.8em;
    color: #777777;
    font-style: italic;
}

p.summary {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

div .more {
    margin-top: 0;
    font-weight: bold;
}


p.message { text-align: center; }
.meta h1 { font-size: 1.5em; text-align: center; }
.meta h2 { font-size: 1.25em; text-align: center; }
.meta h2 { page-break-before: always; }
.meta .byline { text-align: center; }
.meta dl.tags { border: 1px solid; padding: 1em; }
.meta .endnote-link { font-size: .8em; }
/* List child related works under the labeling dt */
#afterword .meta dd { margin: 1em 0 0 1em; }
#chapters { padding: 1em; }

.single .tags dt, .single .stats dt {
    font-weight: bold;
}

.single dl.tags dd {
    display: inline;
    margin: 0;
}
.single dl.tags dd:after{
    display: block;
    content: '';
}
.single dl.tags dt {
    display: inline-block;
}

@media screen and (min-width: 600px) {
    .single dl.tags {
        display: flex;
        flex-flow: row wrap;
    }

    .single .tags dt, .single .stats dt {
        opacity: 0.85;
        flex-basis: 30%;
    }
    .single .tags dd, .single .stats dd {
        flex-basis: 70%;
        flex-grow: 1;
        margin: 0;
    }
}

.series ul {
    list-style: none;
    padding: 0;
}