<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
    <title>{% block title %}{% endblock %} - {{ site_title }}</title>
    {% endblock %}
</head>

<body id="{{ slug }}">
<header>
<nav>
{% block navigation %}
<section>
    <span class="home">
        <a href="{{ base_path }}/">Home</a>
    </span>
    <span class="links">
        {{ folder_links }}
    </span>
</section>
</nav>
{% endblock %}
</header>

<main>
{% block content %}{% endblock %}
</main>

<footer>
  {% block footer %}
<section>
<p>&copy; {{ current_year }}</p>
<p>
    <a href="https://twitter.com/sunainapai">Twitter</a>
    <a href="https://github.com/sunainapai">GitHub</a>
    <a href="https://www.example.com/">Example</a>
</p>
</section>
{% endblock %}
</footer>

</body>
</html>
