<!DOCTYPE html>
<!-- base.html.j2 -->
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %} - {{ site_title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ base_path }}css/style.css">
    {% endblock %}
</head>

<body id="{{ slug }}">
<header>
{% block navigation %}
{% endblock %}
</header>

<main>
{% block content %}
{{ content }}
{% endblock %}
</main>

<footer>
  {% block footer %}
  {% endblock %}
</footer>

</body>
</html>
