{% extends "base.html.j2" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<article>
  <h1>{{ title }}</h1>
  <div id="preface">
    <h2 class="toc-heading">Preface</h2>

    {{ top_message }}

    <div class="meta">
      <dl class="tags">
          {{ meta('Rating', rating )}}
          {{ meta('Archive Warning', archive_warning) }}
          {{ meta('Category', category) }}
          {{ meta('Fandom', fandom) }}
          {{ meta('Relationship', relationship) }}
          {{ meta('Character', character) }}
          {{ meta('Additional Tags', additional_tags) }}
          {{ meta('Language', language) }}
          {% if series %}
          <dt>Series:</dt>
          <dd>
            {% for s in series %}
            <span class="series">{% if s.prev %}<a class="previous" href="{{ s.prev.uri }}">← Previous Work</a></span> | {% endif %}
            <span class="position">Part {{ s.index }} of <span class="title">{{ s.title }}</span></span> 
            {% if s.next %} | <a class="next" href="{{ s.next.uri }}">Next Work →</a>{% endif %}
            </span>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </dd>
          {% endif %}
        <dt>Stats:</dt>
        <dd>
          Published: {{ date }}
          {% if words %}Words: {{ words }} {% endif %}
          {% if chapters %}Chapters: {{ chapters }} {% endif %}
        </dd>
      </dl>
      <h1>{{ title }}</h1>
      <div class="byline">by {{ meta(author) }}</div>
        {% if summary -%}
        <p>Summary</p>
        <blockquote class="userstuff">{{ summary }}</blockquote>
        {% endif %}

        {% if notes -%}
        <p>Notes</p>
          <blockquote class="userstuff">{{ notes }}</blockquote>
        {% endif %}
        {% if end_notes -%}
          <div class="endnote-link">
            See the end of the work for more <a href="#endnotes">notes</a>
          </div>
        {% endif %}
    </div>
  </div>

{% if chapters_content %}
{% for chapter in chapters_content %}
 <h2>{{ chapter.title }}</h2>
{% if chapter.notes %}
<blockquote>
{{ chapter.notes }}
</blockquote>
{% endif %}
{{ chapter.content }}
{% if chapter.end_notes %}
<blockquote>
{{ chapter.end_notes }}
</blockquote>
{% endif %}
{% endfor %}
{% else %}
{{ content }}
{% endif %}

{% if series %}
<div id="series" class="series">
<h3 class="heading">Series this work belongs to:</h3>
<ul>
{% for s in series %}
<li>
<span class="series">{% if s.prev %}<a class="previous" href="{{ s.prev.uri }}">← Previous Work</a></span> | {% endif %}
<span class="position">Part {{ s.index }} of <span class="title">{{ s.title }}</span></span> 
{% if s.next %} | <a class="next" href="{{ s.next.uri }}">Next Work →</a>{% endif %}
</span>
</li>
{% endfor %}
</ul>
</div>
{% endif %}
</article>
{% endblock %}

{% macro meta(label, value) -%}
{% if value -%}
{% if value is not string and value is sequence %}
{% set value = value|join(', ') %}
{% endif %}
<dt>{{ label }}:</dt>
<dd>{{ value }}</dd>
{% endif %}
{%- endmacro %}
