<!-- summary.html.j2 -->
<article class="{{ content_type|htmlid }}">
{% if ao3_content_type == content_type %}
{% set work_meta = [ fandom|join('/') if fandom is not string and fandom is sequence else fandom, category|join(', ') if category else none, words|humanformat if words else none, date] %}
<p><strong><a href="{{ uri }}">{{ title }}</a></strong> ({{ work_meta|reject("none")|join(', ') }})</p>
{% else %}
<p><strong><a href="{{ uri }}">{{ title }}</a></strong></p>
{% endif %}
</article>