{% extends "base.html.j2" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<!-- single.html.j2 -->
<article class="single">
  {% if ao3_content_type == content_type %}
  <div id="preface" class="preface">
    {{ top_message }}

    <div class="meta">
      <dl class="tags">
          {{ meta('Rating', rating )}}
          {{ meta('Archive Warning', archive_warning, "Archive Warnings") }}
          {{ meta('Category', category, "Categories") }}
          {{ meta('Fandom', fandom, "Fandoms") }}
          {{ meta('Relationship', relationship, "Relationships") }}
          {{ meta('Character', character, "Characters") }}
          {{ meta('Additional Tags', additional_tags) }}
          {{ meta('Language', language) }}
          {% if series %}
          <dt>Series:</dt>
          <dd>
            {% for s in series %}
            <span class="series">{% if s.prev %}<a class="previous" href="{{ s.prev.uri }}">← Previous Work</a></span> | {% endif %}
            <span class="position">Part {{ s.index }} of <span class="title">{{ s.title }}</span></span> 
            {% if s.next %} | <a class="next" href="{{ s.next.uri }}">Next Work →</a>{% endif %}
            </span>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </dd>
          {% endif %}
        <dt>Stats:</dt>
        <dd>
          {{ "Published: " ~ date if date }}
          {% if words %}Words: {{ words }} {% endif %}
          {% if chapters %}Chapters: {{ chapters }} {% endif %}
        </dd>
      </dl>
      <h1>{{ title }}</h1>
      <div class="byline">by {{ author|join(', ') }}</div>
        {% if summary -%}
        <h2 class="content-heading">Summary</h2>
        <blockquote class="summary">{{ summary }}</blockquote>
        {% endif %}

        {% if notes -%}
        <h2 class="content-heading">Notes</h2>
          <blockquote class="notes">{{ notes }}</blockquote>
        {% endif %}
        {% if end_notes -%}
          <div class="endnote-link">
            See the end of the work for more <a href="#endnotes">notes</a>
          </div>
        {% endif %}
  </div>
  </div>
  {% else %}
    <h1>{{ title }}</h1>
  {% endif %}

<div id="chapters" class="chapters">
{% if chapters_content %}

{% for chapter in chapters_content %}
<div class="meta">
<h2>{{ chapter.title }}</h2>
{% if chapter.summary %}
<h3>Chapter Summary</h3>
<blockquote class="chapter-summary">
{{ chapter.summary }}
</blockquote>
{% endif %}
{% if chapter.notes %}
<h3>Chapter Notes</h3>
<blockquote class="chapter-notes">
{{ chapter.notes }}
</blockquote>
{% endif %}
{% if chapter.end_notes %}
<div class="endnote-link">
See the end of the chapter for <a href="#endnotes{{loop.index}}">notes</a>
</div>
{% endif %}
</div>
{{ chapter.content }}
{% if chapter.end_notes %}
<div class="meta">
<h3 id="endnotes{{loop.index}}">Chapter End Notes</h3>
<blockquote class="chapter-endnotes">
{{ chapter.end_notes }}
</blockquote>
</div>
{% endif %}
{% endfor %}
{% else %}
{{ content }}
{% endif %}
</div>

{% if end_notes %}
<div id="afterword" class="afterword">
<div id="endnotes">
<h2 class="content-heading">End Notes</h2>
<blockquote>{{ end_notes }}</blockquote>
</div>
{% endif %}

{% if series %}
<div id="series" class="series">
<h3 class="heading">Series this work belongs to:</h3>
<ul>
{% for s in series %}
<li>
<span class="series">{% if s.prev %}<a class="previous" href="{{ s.prev.uri }}">← Previous Work</a></span> | {% endif %}
<span class="position">Part {{ s.index }} of <span class="title">{{ s.title }}</span></span> 
{% if s.next %} | <a class="next" href="{{ s.next.uri }}">Next Work →</a>{% endif %}
</span>
</li>
{% endfor %}
</ul>
</div>
{% endif %}
</article>
{% endblock %}

{% macro meta(label, value, plural=false) -%}
{% if value -%}
{% if value is not string and value is sequence %}
{% if plural and value|length > 1 %}
{% set label = plural %}
{% endif %}
{% set value = value|join(', ') %}
{% endif %}
<dt>{{ label }}:</dt>
<dd>{{ value }}</dd>
{% endif %}
{%- endmacro %}