/* General */
body {
  background-color: #222;
	color: #aaa;
}

a:link, a:visited {
    color: #1e8ad6;
}

a:hover, a:active {
    color: #3ba0e6;
}

/* Navigation panel */
header nav {
    background: #CCCCCC;
    border-bottom-color: #EEEEEE;
}

header nav a:link, header nav a:visited {
    color: #333333;
}

header nav a:hover, header nav a:active {
    color: #000000;
}

/* Footer */
footer {
    background: #0f0f0f;
    border-top-color: #1f1f1f;
    box-shadow: 0 100vh 0 100vh #0f0f0f;
}

article h2 a:link, article h2 a:visited,
article h1 a:link, article h1 a:visited,
.more:link, .more:visited {
    color: #CCCCCC;
}

article h2 a:hover, article h2 a:active,
article h1 a:hover, article h1 a:active,
.more:hover, .more:active {
    color: #888888;
}

p.meta {
    color: #888888;
}

/* RSS */

.rss:link, .rss:visited, .rss:hover, .rss:active {
    color: #000000;
}

.rss:link, .rss:visited {
    background: #0099ff;
}

.rss:hover, .rss:active {
    background: #0077dd;
}
