{% extends "base.html.j2" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<article>
<h1><a href="{{ uri }}/">{{ title }}</a></h1>
<p class="meta">Published on {{ date }} by <b>{{ author }}</b></p>
{{ content }}
</article>
{% endblock %}